
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.navbar {
  background-color: skyblue;
}

.navbar-nav a {
  font-family: poppins;
  font-weight: normal;
}

.navbar-nav {
  text-align: center;
  padding-left:  600px;
  margin-left: 250px;
}


.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: rgb(15, 15, 15);
}

#search-box {
  width: 220px;
}

#search-btn {
  height: 38px;
  width: 38px;
  background-image: url(search.png);
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-menu {
  font-size: 15px;
}

.container {
  margin: 20px auto;
  background: whitesmoke;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.settings-tray {
  background:skyblue;
  padding: 10px 15px;
  border-radius: 7px;
}
.settings-tray no-gutters {
    padding: 0;
  }
.settings-tray--right
 {
    float: right;
}
.settings-tray--right i {
      margin-top: 10px;
      font-size: 25px;
      color: grey;
      margin-left: 14px;
      transition: 0.3s;
}
.settings-tray--right i:hover {
   color: skyblue;
  cursor: pointer;
      }
.search-box {
  background: #fafafa;
  padding: 10px 13px;
}
.search-box input-wrapper {
    background: #fff;
    border-radius: 40px;
}
.search-box input-wrapper i {
      color: grey;
      margin-left: 7px; 
      vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
.input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
  }
input:focus {
    outline: none;
  }

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: .3s ease;
}
.friend-drawer--grey{
    background: skyblue;
  }
  
.friend-drawer--grey text {
    margin-left: 12px;
    width: 70%;
}
.friend-drawer--grey text h6 {
      margin-top: 6px;
      margin-bottom: 0;
    }  
.friend-drawer--grey text p {
      margin: 0;
    }

.time {
    color: grey;
  }
  
.friend-drawer--onhover:hover {
    background:#eee;
    cursor: pointer;}
hr {
  margin: 5px auto;
  width: 60%;
}

.chat-bubble {
  padding: 10px 14px;
  background:#eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}
.chat-bubble--right{
  background: skyblue;
}

.chat-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }

.chat-bubble--left:after {
      left: 0;
      border-right-color: #eee;
      border-left: 0;
      margin-left: -20px;
    }

.chat-bubble--right:after {
      right: 0;
      border-left-color:skyblue;
      border-right: 0;
      margin-right: -20px;
    }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.offset-md-9  chat-bubble {
    background: skyblue;
    color:#fff;
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  padding-left: 50px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
  
}
.chat-box-tray input {
    margin: 0 10px;
    padding-right: 50px;
    padding: 6px 2px;
 }
.chat-box-tray input i {
  color: skyblue;
  font-size: 30px;
  right: 70px;
  vertical-align: middle;
} 
.space{
 padding-left: 20px;
} 
.chat-box-tray i:hover{
   color: skyblue;
   cursor: pointer;
}
.footer-bottom {
  background:#eee ;
  width: initial;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}